*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  background-size: cover;
  font-family: arial;
}

.nav{
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  list-style: none;
  text-align: center;
  padding: 3px 0 3px 0;
  font-size: 14px;
}

.nav>li{
  display: inline-block;
  padding: 0 3px 0 3px;
}

.nav>li>a{
  text-decoration: none;
  color: #ffffff;
}

.nav>li>a:hover{
  color: #c1c1c1;
}

.abouttext{
  list-style: none;
  border-radius: 5%;
  width: 300px;
  background: rgba(0 , 0, 0, 0.7);
  padding: 20px;
  margin: auto;
  margin-top: 1%;
  color: white;
  font-family: arial;
}
